<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WebFormsMvp.FeatureDemos.Logic.Properties.Settings.SiteDbConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;G:\Documents\Readify\Presentations\ReMIX09\Mesh Folder\Demos\WebFormsMvp\Web\App_Data\SiteDb.mdf&quot;;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>